body{
    background-color: rgb(178, 171, 163);
    height: 50%;
}

.container{
    text-align: center;
    background-color: rgb(95, 96, 96);
    padding: 6px;
    margin: 120px;
    border-radius: 8px;
}

.input{
    height: 20px;
    border-radius: 8px;
}
.input:hover{
    cursor: pointer;
}